In [10]:
import pandas as pd
import numpy as np
import openai
from getpass import getpass
import matplotlib.pyplot as plt
import plotly.express as px
from scipy import spatial
from sklearn.decomposition import PCA

In [11]:
data_news = pd.read_csv('dataset/microsoft-earnings.csv')

In [12]:
data_news.head()

                                                text
0  Thank you, Brett. To start, I want to outline ...
1  With that context, this quarter, the Microsoft...
2  It helps them align their spend with demand an...
3  We are the platform of choice for customers' S...
4  Now to data and AI. With our Microsoft Intelli...

In [13]:
openai.api_key = getpass()

In [14]:
from openai.embeddings_utils import get_embedding

data_news['embeddings'] = data_news['text'].apply(lambda x: get_embedding(x, engine='text-embedding-ada-002'))

In [15]:
data_news.head()

,text,embeddings
0,"Thank you, Brett. To start, I want to outline ...","[-0.00954493135213852, -0.003761746920645237, ..."
1,"With that context, this quarter, the Microsoft...","[-0.0016160508384928107, -0.029072575271129608..."
2,It helps them align their spend with demand an...,"[0.00876594427973032, -0.03199329599738121, 0...."
3,We are the platform of choice for customers' S...,"[0.012026704847812653, -0.02436579205095768, 0..."
4,Now to data and AI. With our Microsoft Intelli...,"[-0.0047009349800646305, 0.004097642842680216,..."

In [16]:
data_news.to_csv('news.csv')